*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* background images on all div  */
.img1 {
    background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  }
  .img2 {
    background-image: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  }
  .img3 {
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
  }
  .img4 {
    background-image: url("https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  }
  .img5 {
    background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  }
  
    body{
        display: flex;
        height: 100vh;  
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
  }
  .container{
      display: flex;
      width:80vw;
  }
  .card{
      margin:10px;
      height: 80vh;
      color: aliceblue;
      cursor: pointer;
      background-size: cover;
      background-position: center;
      position: relative;
      flex:1;
  }
   .active{
       flex: 5;
       transition: all 0.5s ease-in-out;
   }
  .card > h2{
      position: absolute;
      font-size: 2rem;
      bottom: 20px;
      left: 20px;
      margin: 0;
      opacity: 0;
  }
